    <link href="https://assets-cdn.github.com/assets/github-9bcf5def7eb44e2a101b20aaecf3707f4b0a10ab8f4d6eebec29371f821c4b29.css" media="all" rel="stylesheet" type="text/css">
    <link href="https://assets-cdn.github.com/assets/github2-988ddda9ae733ab44f308db199cb53eb70c7d0197679297459104380a8d923b3.css" media="all" rel="stylesheet" type="text/css">
    
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    
    <div class="wrapper">
      
      <div id="start-of-content" class="accessibility-aid"></div>
        <div class="site clearfix" role="main">
          <div id="site-container" class="context-loader-container" data-pjax-container="">
            
            
<div id="container" data-pjax-container="">
  <div class="pagehead codesearch-head">
    <div class="container">
      <h1>Search</h1>
      <form accept-charset="UTF-8" action="/search" class="search_repos" id="search_form" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
        <div class="flex-table search-form-fluid">
  <div class="flex-table-item flex-table-item-primary">
    <input class="input-block js-search-query" type="text" name="q" value="bill gates" tabindex="2" autocapitalize="off" autofocus="">
    <input type="hidden" id="type_value" name="type" value="Repositories">
  </div>
  <div class="flex-table-item">
    <button class="button" type="submit" tabindex="3">Search</button>
  </div>
</div>

        <input type="hidden" name="ref" value="searchresults">
</form>    </div>
  </div>

  <div class="container">
    <div class="columns">
      <div class="column one-fourth codesearch-aside">
        <nav class="menu" data-pjax="">
          <a href="#" class="menu-item selected"><i class="fa fa-user" style="margin-right:10px"></i> Users</a>
          <a href="#" class="menu-item "><i class="fa fa-code" style="margin-right:10px"></i> Projects</a>
          <a href="#" class="menu-item "><i class="fa fa-exclamation-circle" style="margin-right:10px"></i> Startups</a>
          
        </nav>
          <h3>Location</h3>
      </div>
      <div class="column three-fourths codesearch-results">
          
  <div class="sort-bar">
    
    <h3>
    We've found 13 repository results
</h3>

  </div>

            <ul class="repo-list js-repo-list">

      <li class="repo-list-item public source" style="height:122px">
    <div style="float:left">    
    <img width="48" height="48" src="https://avatars3.githubusercontent.com/u/1479897?v=3&amp;s=120" data-user="1479897" class="avatar" alt="Aden Beihl">
  </div>
  <div style="margin-left: 75px;"> 
  <h3 class="repo-list-name">
    <a href="/Junery/Gates" style="color:black">Theo Schlossn</em></a>
    
  </h3>
    <p class="repo-list-meta">
      <i class="fa fa-map-marker"></i> Marykand
    
      <i class="fa fa-newspaper-o" style="margin-left:10px"></i> Javascript, Rails
    
      <i class="fa fa-clock-o" style="margin-left:10px"></i> Joined on Jul 20, 2013
    </p>
</div>
</li>

      <li class="repo-list-item public source" style="height:122px">
    <div style="float:left">    
    <img width="48" height="48" src="https://avatars3.githubusercontent.com/u/1479897?v=3&amp;s=120" data-user="1479897" class="avatar" alt="Aden Beihl">
  </div>
  <div style="margin-left: 75px;"> 
  <h3 class="repo-list-name">
    <a href="/Junery/Gates" style="color:black">Jesus Burgo</em></a>
    
  </h3>
    <p class="repo-list-meta">
      <i class="fa fa-map-marker"></i> New york City
    
      <i class="fa fa-newspaper-o" style="margin-left:10px"></i> Javascript, Rails
    
      <i class="fa fa-clock-o" style="margin-left:10px"></i> Joined on Jul 20, 2013
    </p>
</div>
</li>

      

  </ul>

        

      </div>
    </div>
  </div>
</div>



          </div>
          <div class="modal-backdrop"></div>
        </div>
    </div><!-- /.wrapper -->
