<html lang="en" class=""><head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# object: http://ogp.me/ns/object# article: http://ogp.me/ns/article# profile: http://ogp.me/ns/profile#">
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="en" http-equiv="Content-Language">
    
    
    <title>GitHub · GitHub</title>
    <link title="GitHub" href="/opensearch.xml" type="application/opensearchdescription+xml" rel="search">
    <link title="GitHub" href="https://github.com/fluidicon.png" rel="fluid-icon">
    <link href="/apple-touch-icon-114.png" sizes="57x57" rel="apple-touch-icon">
    <link href="/apple-touch-icon-114.png" sizes="114x114" rel="apple-touch-icon">
    <link href="/apple-touch-icon-144.png" sizes="72x72" rel="apple-touch-icon">
    <link href="/apple-touch-icon-144.png" sizes="144x144" rel="apple-touch-icon">
    <meta content="1401488693436528" property="fb:app_id">

      <meta name="twitter:site" content="@github"><meta name="twitter:card" content="summary"><meta name="twitter:title" content="GitHub"><meta name="twitter:description" content="GitHub, the company."><meta name="twitter:image:src" content="https://avatars3.githubusercontent.com/u/9919?v=3&amp;s=280">
<meta property="og:site_name" content="GitHub"><meta property="og:type" content="profile"><meta property="og:image" content="https://avatars3.githubusercontent.com/u/9919?v=3&amp;s=280"><meta property="og:title" content="GitHub"><meta property="og:url" content="https://github.com/github"><meta property="og:description" content="GitHub, the company."><meta property="profile:username" content="github">

      <meta content="/_stats" name="browser-stats-url">
    <link href="https://assets-cdn.github.com/" rel="assets">
    <link href="https://ghconduit.com:25035" rel="conduit-xhr">
    
    <meta content="1000" name="pjax-timeout">
    

    <meta content="/windows-tile.png" name="msapplication-TileImage">
    <meta content="#ffffff" name="msapplication-TileColor">
    <meta data-pjax-transient="" value="/github" name="selected-link">
      <meta content="UA-3769691-2" name="google-analytics">

    <meta name="octolytics-host" content="collector.githubapp.com"><meta name="octolytics-script-host" content="collector-cdn.github.com"><meta name="octolytics-app-id" content="github"><meta name="octolytics-dimension-request_id" content="CAA4240D:7AB5:129DDA0:54A39FF6">
    
    <meta name="analytics-event" content="Rails, view, users#show">

    
    
    <link href="https://assets-cdn.github.com/favicon.ico" type="image/x-icon" rel="icon">


    <meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="9ofWi4pH4fjU6xLueTmkzGhI9sM0AknAdeZTyfOKSx3YFafD1EVPSNpU/rZsaMibGrneH7d02BpZwohKOEwYkQ==">

    <link type="text/css" rel="stylesheet" media="all" href="https://assets-cdn.github.com/assets/github-9bcf5def7eb44e2a101b20aaecf3707f4b0a10ab8f4d6eebec29371f821c4b29.css">
    <link type="text/css" rel="stylesheet" media="all" href="https://assets-cdn.github.com/assets/github2-988ddda9ae733ab44f308db199cb53eb70c7d0197679297459104380a8d923b3.css">
    
    


    <meta content="8adfdb5fdc7bd044b4c0142729d0410c" http-equiv="x-pjax-version">

      <meta content="Build software better, together." name="description">
  </head>


  <body class="logged_out  env-production linux  org">
    <a class="accessibility-aid js-skip-to-content" tabindex="1" href="#start-of-content">Skip to content</a>
    <div class="wrapper">
      <div class="accessibility-aid" id="start-of-content"></div>
        <div role="main" class="site clearfix">
          <div data-pjax-container="" class="context-loader-container" id="site-container">
            
            

  

  <div itemtype="http://schema.org/Organization" itemscope="">

    
<header class="org-header">
  <div class="container">

    <div class="org-header-wrapper">
      <img width="100" height="100" src="https://avatars3.githubusercontent.com/u/9919?v=3&amp;s=200" itemprop="image" data-user="9919" class="avatar" alt="GitHub">
      <div class="org-header-info">
        <h1 class="org-name">
          <span data-name="github" class="js-username">GitHub Users NYC</span>
        </h1>
          <p itemprop="description" class="org-description">GitHub, the company.</p>
          <ul class="org-header-meta has-location has-blog has-email">
              <li class="meta-item">
                <span class="octicon octicon-location"></span>
                <span title="San Francisco, CA" itemprop="location">San Francisco, CA</span>
              </li>
              <li class="meta-item">
                <span class="octicon octicon-link"></span>
                <a title="https://github.com/about" itemprop="url" class="meta-link" href="https://github.com/about">https://github.com/about</a>
              </li>
              <li class="meta-item">
                <span class="octicon octicon-mail"></span>
                <a itemprop="email" href="mailto:support@github.com" class="meta-link">support@github.com</a>
              </li>
          </ul>
    </div>
  </div>
</div></header><!-- /.org-header -->


    <div class="container">
      <div class="org-main">

          <div class="subnav subnav-bordered subnav-flush org-toolbar">
            
            <form data-results-container="org-repositories" action="/github" class="subnav-search left">
              <div class="auto-search-group">
                <input type="text" data-org="github" data-host="github.com" data-filter-dropdown="repository-search-filters" autocomplete="off" placeholder="Find a repository…" value="" name="query" class="subnav-search-input input-contrast auto-search-input js-repo-filter-field js-autosearch-field">
                <span class="octicon octicon-search"></span>
                <img alt="" src="https://assets-cdn.github.com/images/spinners/octocat-spinner-32.gif" class="spinner">
              </div>
            </form>
            <div class="subnav-search-context select-menu left js-menu-container js-select-menu">
              <button aria-haspopup="true" type="button" class="button js-menu-target">
                Search
              </button>
                <div id="repository-search-filters" class="select-menu-modal-holder js-menu-content js-navigation-container">
                  <div class="select-menu-modal">
                    <div class="select-menu-list">
                      <div data-negate="only:forks" data-filter="only:sources" class="select-menu-item js-navigation-item js-repo-search-filter">
                        <span class="select-menu-item-icon octicon octicon-code"></span>
                        <div class="select-menu-item-text">
                          Sources
                        </div>
                      </div>
                      <div data-negate="only:sources" data-filter="only:forks" class="select-menu-item js-navigation-item js-repo-search-filter">
                        <span class="select-menu-item-icon octicon octicon-repo-forked"></span>
                        <div class="select-menu-item-text">
                          Forks
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>

          </div>
        <div data-pjax-container="" id="org-repositories" class="org-repos repo-list context-loader-container">
            
<div class="context-loader large-format-loader">
  <p><img width="64" height="64" src="https://assets-cdn.github.com/images/spinners/octocat-spinner-128.gif" alt=""></p>
  <p>Loading…</p>
</div>


  

  <div itemtype="http://schema.org/Code" itemscope="" itemprop="owns" class="repo-list-item public source">
  	<div class="repo-list-stats" style="float:left">
        <span itemprop="programmingLanguage">
          SATURDAY, JAN 3
        </span>
    </div>
    <br/>
    

    <div class="repo-list-name" style="padding-left:10px">
    	<p class="repo-list-meta">
          <span style="margin-right:20px">6:00 AM</span>
          <span class="org-description" style="color:black">Android App development and Linux meeting!</span>
    	</p>
    </div>
    <div class="repo-list-name" style="padding-left:82px">
      <a aria-label="arrbee" class="member-avatar tooltipped tooltipped-s" href="#">
        <img width="30" height="30" src="https://avatars3.githubusercontent.com/u/103350?v=3&amp;s=120" data-user="103350" class="avatar" alt="Russell Belfer">
      </a>
      <a aria-label="atmos" class="member-avatar tooltipped tooltipped-s" href="#">
        <img width="30" height="30" src="https://avatars2.githubusercontent.com/u/38?v=3&amp;s=120" data-user="38" class="avatar" alt="Corey Donohoe">
      </a>
    </div>
  </div>

  <div itemtype="http://schema.org/Code" itemscope="" itemprop="owns" class="repo-list-item public source">
  	<div class="repo-list-stats" style="float:left">
        <span itemprop="programmingLanguage">
          MONDAY, JAN 5
        </span>
    </div>
    <br/>
    

    <div class="repo-list-name" style="padding-left:10px">
    	<p class="repo-list-meta">
          <span style="margin-right:20px">6:00 AM</span>
          <span class="org-description" style="color:black">Android App development and Linux meeting!</span>
    </p>
      
    </div>
    <div class="repo-list-name" style="padding-left:82px">
      <a aria-label="arrbee" class="member-avatar tooltipped tooltipped-s" href="#">
        <img width="30" height="30" src="https://avatars3.githubusercontent.com/u/103350?v=3&amp;s=120" data-user="103350" class="avatar" alt="Russell Belfer">
      </a>
      <a aria-label="atmos" class="member-avatar tooltipped tooltipped-s" href="#">
        <img width="30" height="30" src="https://avatars2.githubusercontent.com/u/38?v=3&amp;s=120" data-user="38" class="avatar" alt="Corey Donohoe">
      </a>
    </div>
  </div>

  <div itemtype="http://schema.org/Code" itemscope="" itemprop="owns" class="repo-list-item public source">
  	<div class="repo-list-stats" style="float:left">
        <span itemprop="programmingLanguage">
          WEDNESDAY, DEC 31
        </span>
    </div>
    <br/>
    

    <div class="repo-list-name" style="padding-left:10px">
    	<p class="repo-list-meta">
          <span style="margin-right:20px">6:00 AM</span>
          <span class="org-description" style="color:black">Tech Talk!</span>
    </p>
      
    </div>
    <div class="repo-list-name" style="padding-left:82px">
      <a aria-label="arrbee" class="member-avatar tooltipped tooltipped-s" href="#">
        <img width="30" height="30" src="https://avatars3.githubusercontent.com/u/103350?v=3&amp;s=120" data-user="103350" class="avatar" alt="Russell Belfer">
      </a>
      <a aria-label="atmos" class="member-avatar tooltipped tooltipped-s" href="#">
        <img width="30" height="30" src="https://avatars2.githubusercontent.com/u/38?v=3&amp;s=120" data-user="38" class="avatar" alt="Corey Donohoe">
      </a>
    </div>
  </div>

        </div>
      </div>

      <div class="org-sidebar">
          <div class="org-module simple-box">
            <h3 class="org-module-title org-members-title">
              <a href="/orgs/github/people" class="org-module-link">
                <span class="org-stats">
                  199
                  <span class="octicon octicon-chevron-right"></span>
                </span>
                People
              </a>
            </h3>
            <div class="member-avatar-group">
                  <a aria-label="achiu" class="member-avatar tooltipped tooltipped-s" href="/achiu">
                    <img width="60" height="60" src="https://avatars0.githubusercontent.com/u/24772?v=3&amp;s=120" data-user="24772" class="avatar" alt="Arthur Chiu">
                  </a>
                  <a aria-label="adelcambre" class="member-avatar tooltipped tooltipped-s" href="/adelcambre">
                    <img width="60" height="60" src="https://avatars2.githubusercontent.com/u/242?v=3&amp;s=120" data-user="242" class="avatar" alt="Andy Delcambre">
                  </a>
                  <a aria-label="aden" class="member-avatar tooltipped tooltipped-s" href="/aden">
                    <img width="60" height="60" src="https://avatars3.githubusercontent.com/u/1479897?v=3&amp;s=120" data-user="1479897" class="avatar" alt="Aden Beihl">
                  </a>
                  <a aria-label="alanjrogers" class="member-avatar tooltipped tooltipped-s" href="/alanjrogers">
                    <img width="60" height="60" src="https://avatars3.githubusercontent.com/u/22635?v=3&amp;s=120" data-user="22635" class="avatar" alt="Alan Rogers">
                  </a>
                  <a aria-label="alysonla" class="member-avatar tooltipped tooltipped-s" href="/alysonla">
                    <img width="60" height="60" src="https://avatars1.githubusercontent.com/u/2623954?v=3&amp;s=120" data-user="2623954" class="avatar" alt="Alyson La">
                  </a>
                  <a aria-label="amateurhuman" class="member-avatar tooltipped tooltipped-s" href="/amateurhuman">
                    <img width="60" height="60" src="https://avatars2.githubusercontent.com/u/374244?v=3&amp;s=120" data-user="374244" class="avatar" alt="Chris Kelly">
                  </a>
                  <a aria-label="ammeep" class="member-avatar tooltipped tooltipped-s" href="/ammeep">
                    <img width="60" height="60" src="https://avatars0.githubusercontent.com/u/1024672?v=3&amp;s=120" data-user="1024672" class="avatar" alt="Amy Palamountain">
                  </a>
                  <a aria-label="antonio" class="member-avatar tooltipped tooltipped-s" href="/antonio">
                    <img width="60" height="60" src="https://avatars3.githubusercontent.com/u/17516?v=3&amp;s=120" data-user="17516" class="avatar" alt="Antonio Santos">
                  </a>
                  <a aria-label="arfon" class="member-avatar tooltipped tooltipped-s" href="/arfon">
                    <img width="60" height="60" src="https://avatars0.githubusercontent.com/u/4483?v=3&amp;s=120" data-user="4483" class="avatar" alt="Arfon Smith">
                  </a>
                  <a aria-label="aroben" class="member-avatar tooltipped tooltipped-s" href="/aroben">
                    <img width="60" height="60" src="https://avatars0.githubusercontent.com/u/917945?v=3&amp;s=120" data-user="917945" class="avatar" alt="Adam Roben">
                  </a>
                  <a aria-label="arrbee" class="member-avatar tooltipped tooltipped-s" href="/arrbee">
                    <img width="60" height="60" src="https://avatars3.githubusercontent.com/u/103350?v=3&amp;s=120" data-user="103350" class="avatar" alt="Russell Belfer">
                  </a>
                  <a aria-label="atmos" class="member-avatar tooltipped tooltipped-s" href="/atmos">
                    <img width="60" height="60" src="https://avatars2.githubusercontent.com/u/38?v=3&amp;s=120" data-user="38" class="avatar" alt="Corey Donohoe">
                  </a>
                  <a aria-label="azizshamim" class="member-avatar tooltipped tooltipped-s" href="/azizshamim">
                    <img width="60" height="60" src="https://avatars1.githubusercontent.com/u/30761?v=3&amp;s=120" data-user="30761" class="avatar" alt="Aziz Shamim">
                  </a>
                  <a aria-label="balevine" class="member-avatar tooltipped tooltipped-s" href="/balevine">
                    <img width="60" height="60" src="https://avatars1.githubusercontent.com/u/2433775?v=3&amp;s=120" data-user="2433775" class="avatar" alt="Brian Levine">
                  </a>
                  <a aria-label="benbalter" class="member-avatar tooltipped tooltipped-s" href="/benbalter">
                    <img width="60" height="60" src="https://avatars3.githubusercontent.com/u/282759?v=3&amp;s=120" data-user="282759" class="avatar" alt="Ben Balter">
                  </a>
                  <a aria-label="benogle" class="member-avatar tooltipped tooltipped-s" href="/benogle">
                    <img width="60" height="60" src="https://avatars2.githubusercontent.com/u/69169?v=3&amp;s=120" data-user="69169" class="avatar" alt="Ben Ogle">
                  </a>
            </div>
          </div>
      </div>
    </div>
  </div>

          </div>
          <div class="modal-backdrop"></div>
        </div>
    </div><!-- /.wrapper -->

      
    <div id="fullscreen_overlay" class="fullscreen-overlay js-fullscreen-overlay">
  <div class="fullscreen-container js-suggester-container">
    <div class="textarea-wrap">
      <textarea placeholder="" class="fullscreen-contents js-fullscreen-contents" id="fullscreen-contents" name="fullscreen-contents"></textarea>
      <div class="suggester-container">
        <div class="suggester fullscreen-suggester js-suggester js-navigation-container"></div>
      </div>
    </div>
  </div>
  <div class="fullscreen-sidebar">
    <a aria-label="Exit Zen Mode" class="exit-fullscreen js-exit-fullscreen tooltipped tooltipped-w" href="#">
      <span class="mega-octicon octicon-screen-normal"></span>
    </a>
    <a aria-label="Switch themes" class="theme-switcher js-theme-switcher tooltipped tooltipped-w" href="#">
      <span class="octicon octicon-color-mode"></span>
    </a>
  </div>
</div>



    <div class="flash flash-error" id="ajax-error-message">
      <span class="octicon octicon-alert"></span>
      <a aria-label="Dismiss error" class="octicon octicon-x flash-close js-ajax-error-dismiss" href="#"></a>
      Something went wrong with that request. Please try again.
    </div>


  

</body></html>